.wrap {
    margin: 0px !important;
    /*padding: 0px !important;*/
    padding: 70px 15px 20px !important;
}
.wrap>.container{
    padding:0px !important;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.user-panel{
    width: fit-content;
    height: 100px;
    border: 1px solid #cccccc;
    position: relative;
    padding: 16px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: calc(100% - 80px);
    margin-bottom: 15px;
}
.user-panel .image{
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%,-50%);
    float: left !important;
}

.user-panel .image img{
    width: 100%;
    max-width: 100px;
    height: auto;
    border: 1px solid #cccccc;
}

.user-panel .info{
    /*padding-left: 53px;*/
    float: left !important;
    text-align: center;
    min-width: 200px;
}
.user-panel .user-name{
    font-size: calc(10px + 1vw);
    font-weight: bolder;
    line-height: 1.35;
    color: #000;
    margin-bottom: 0.5em;
}
