.miniNote{
    text-align: center;
    font-size: 12px;
    color: #000;
}
.miniNote a{
    color: #000000;
    text-decoration: underline;
}
.education-container .title{
    text-align: center;
}
.education-container .title .titleContainer{
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.education-container .eduImage{
    /*max-width: 150px;*/
    /*margin-top: 20px;*/
    /*float: right;*/
    max-width: 150px
}
.education-container .exalt{
    min-height: 150px;
    border: 1px solid #ccc;
}
.mainRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.imageContainer{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 25px;
}
.smallIconsContainer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.smallIconsContainer a{
    padding-inline-end: 10px;
}
.smallIconsContainer .smallIcon{
    max-width: 40px;
    width: 40px;
    min-height: 40px;
    height: 40px;
}.smallIconsContainer .smallIconCaption{
     text-align: center;
     font-size: 10px;
}

.bounce {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
.bounce1{
    animation-delay: 500ms;
}
.bounce2{
    animation-delay: 1s;
}
@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-20px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
.infoContainer{
    width: 60%;
}

@media (max-width: 480px) {
    .mainRow{

    }
    .imageContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-inline-end: 0px;
    }
    .infoContainer{
        width: 100%;
    }


}